.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.detailsContainer {
  background-color: var(--friend-details-bg);
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.largeImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.name {
  font-size: 1.5rem;
  margin: 0;
}